@import "../../sass/common";

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    background-color: map-get($color-theme, "primary");
    position: absolute;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    flex-shrink: 0; /* Prevent the title from shrinking */
    margin: 0 2rem;
    color: map-get($color-theme, "light");
}

.searchBar {
    width: 100%;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 1rem;
    display: flex;
    padding:2rem;
    justify-self: flex-end;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 0;
        padding-bottom: 2rem;
    }
    .title {
        margin-left: 0rem;
        margin: 1rem auto;
    }
}
